body{
	background-color: #CC2EFA;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	width: 250px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}

.buttondelete {
	background-color: ##FE2E2E;
	border: none;
	color: white;
	width: 250px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}